.header,
.subheader{
    display: flex;
    margin: 20px 80px;
}
.headers,
.footer{
    background-color: #1f2937;
   
    
}
.header-link,
.subtitle,
.footer,
.overfooter-text2
{
    font-size: 18px;
    color: #e5e7eb;
}

.header{
    
    justify-content: space-between;
}
.header-link {
    display: flex;
    gap: 20px;
    
}
ul{
    list-style-type: none;
}
.rewind{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.subheader{
    justify-content: flex-start;
    gap: 40px;
}
.body-title{
    font-size: 36px;
    color: #1f2937;
    font-weight:900;
    display: flex;
    justify-content: center;
}
.body{
    display: flex;
    flex-direction: column;
    
}
.fantastic-four{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.subbody{
    background-color: #e5e7eb;
   
    padding: 60px 80px;
    margin: 90px 0px;
}
.subbody-text{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight:100;
}
.mybutton,
.overfooter{
    background-color: #3882f6;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.overfooter{
    margin:50px 400px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}
.img{
    border-radius: 25px;
    border: 5px solid #3882f6;
    padding: 20px;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
.eins{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mybutton,
.yourbutton{
    border-radius: 5px;
    padding: 10px 20px;
    width: 150px;
    height: 40px;
    color: #e5e7eb;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    margin: 0;
}
.headers{
    padding: 10px 40px 80px;
}
.image{
    padding: 30px 100px;
    background-color: white;
    align-items: center;
    display: flex;
}
.yourbutton{
    background-color: #3882f6;
    border-color: #e5e7eb;
    border-style: double;
    
}
.overfooter-text{
    color:#e5e7eb;
    font-weight: bold;
    font-size: 24px;
}
.subbody-text2{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    font-weight: bold;
    font-size: 24px;
}
.mybutton{
    border:none
}